<div class="">
  <div class="bg-sky-50 rounded-b-4xl pb-4 pt-18 sm:pt-18">
    <h1 class="text-left ml-5 sm:ml-28 text-2xl text-blue-700 md:text-3xl">Edit Your Property</h1>
  </div>
  <div class="mt-4 sm:mt-20 mb-40">
    <%= render 'form', property: @property %>
  </div>
</div>
