<footer class="flex flex-wrap justify-center lg:justify-between overflow-hidden gap-10 md:gap-20 py-16 px-6 md:px-16 lg:px-24 xl:px-32 text-[13px] text-gray-500 bg-black">
  <div class="flex flex-wrap items-start gap-10 md:gap-[60px] xl:gap-[140px]">
    <%= link_to root_path, class:"-m-1.5 p-1.5 flex items-center space-x-3 rtl:space-x-reverse" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-8">
        <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
        <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
      </svg>
      <span class="sr-only">Your Company</span>
    <% end %>
    <div>
      <p class="text-slate-100 font-semibold">Product</p>
      <ul class="mt-2 space-y-2">
        <li><a href="/" class="hover:text-blue-600 transition">Home</a></li>
        <li><a href="/" class="hover:text-blue-600 transition">Support</a></li>
        <li><a href="/" class="hover:text-blue-600 transition">Pricing</a></li>
        <li><a href="/" class="hover:text-blue-600 transition">Affiliate</a></li>
      </ul>
    </div>
    <div>
      <p class="text-slate-100 font-semibold">Resources</p>
      <ul class="mt-2 space-y-2">
        <li><a href="/" class="hover:text-blue-600 transition">Company</a></li>
        <li><a href="/" class="hover:text-blue-600 transition">Blogs</a></li>
        <li><a href="/" class="hover:text-blue-600 transition">Community</a></li>
        <li><a href="/" class="hover:text-blue-600 transition">Careers<span class="text-xs text-white bg-blue-600 rounded-md ml-2 px-2 py-1">We’re hiring!</span></a></li>
        <li><a href="/" class="hover:text-blue-600 transition">About</a></li>
      </ul>
    </div>
    <div>
      <p class="text-slate-100 font-semibold">Legal</p>
      <ul class="mt-2 space-y-2">
        <li><a href="/" class="hover:text-indigo-600 transition">Privacy</a></li>
        <li><a href="/" class="hover:text-indigo-600 transition">Terms</a></li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col max-md:items-center max-md:text-center gap-2 items-end">
    <p class="max-w-60">Making every customer feel valued—no matter the size of your audience.</p>
    <%= link_to root_path, class:"-m-1.5 p-1.5 flex items-center space-x-3 rtl:space-x-reverse" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-8">
        <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
        <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
      </svg>
    <% end %>
    <a href="https://www.linkedin.com/company/prebuiltui" target="_blank" rel="noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin size-5 hover:text-indigo-500" aria-hidden="true">
        <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
        <rect width="4" height="12" x="2" y="9"></rect>
        <circle cx="4" cy="4" r="2"></circle>
      </svg>
    </a>
    <a href="https://x.com/prebuiltui" target="_blank" rel="noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter size-5 hover:text-indigo-500" aria-hidden="true">
        <path

                        d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z">
        </path>
      </svg>
    </a>
    <a href="https://www.youtube.com/@prebuiltui" target="_blank" rel="noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube size-6 hover:text-indigo-500" aria-hidden="true">
        <path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17">
        </path>
        <path d="m10 15 5-3-5-3z"></path>
      </svg>
    </a>
  </div>
  <p class="mt-3 text-center">© 2025 <a href="https://prebuiltui.com">Mosec</a></p>
</div>
</footer>