<div class="h-screen">
  <div class="flex flex-col justify-center bg-gradient-to-r from-orange-100 via-slate-200 to-sky-100  sm:bg-cover  h-[400px] md:h-[600px]  sm:px-60">
    <div>
      <h1 class="font-semibold text-2xl sm:font-bold sm:text-5xl text-blue-700 text-pretty text-center">Baiti helps you find a place to call a home at the comfort of your <span class="text-black">seat</span> !</h1>
      <p class="py-3 sm:py-4 text-center font-mono mx-8">We make house hunting easy for tenants, empower landlords, and realtors to reach their prospective clients.</p>
    </div>
    <div class="hidden sm:show mt-2 border border-neutral-200 rounded-lg shadow-2xl w-[300px] h-[300px] sm:w-[450px] sm:h-[500px]">
      <%= image_tag "landing_home.jpg", class:"w-full h-full object-cover"%>
    </div>
    <div class=" w-50 mx-auto mt-4 inline-flex items-center px-6 py-3 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 transition cursor-pointer">
      <span class="mr-1 ml-6">Get Started</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
      </svg>
    </div>
  </div>
  <div class="flex flex-col justify-center bg-gradient-to-b from-slate-100 via-slate-200 to-sky-100  sm:bg-cover  h-[400px] md:h-[600px]  sm:px-60">
  </div>
</div>
